---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

trial

{% include image.html url="/images/map.png" alt="Predicted vegetation wetness over western US using remote sensing and deep learning." %}
_Predicted vegetation wetness over western US using remote sensing and deep learning._
{% if author.googlescholar %}
  You can also find my articles on <u><a href="{{author.googlescholar}}">my Google Scholar profile</a>.</u>
{% endif %}

{% include base_path %}

{% for post in site.publications reversed %}
  {% include archive-single.html %}
{% endfor %}

<link href="sponsors.html" rel="import" />

