---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---
<img src="/images/map.png" alt="Maps showing forest dryness in western USA" style="width:100%; padding-bottom:0px;">
<i>Predicted vegetation wetness over western US using remote sensing and deep learning.</i>
<br>
<br>
You can also find my publications on <u><a href="https://scholar.google.com/citations?user=-UCmLrUAAAAJ&hl=en">my Google Scholar profile</a>.</u>

{% include base_path %}

{% for post in site.publications reversed %}
  {% include archive-single.html %}
{% endfor %}
<hr>
<body class="sponsored">

<h2 class="centered"> Research graciously funded by</h2>

<div class="row">
  <div class="column">
    <a class="greyed" href="https://www.nasa.gov/" target="_blank"><img src="/images/nasa.jpg" alt="NASA logo" border="0" width="100px"></a>
  </div>
  <div class="column">
      <a class="greyed" href="https://earth.stanford.edu/" target="_blank"><img src="/images/se3.jpg" alt="Stanford School of Earth logo" border="0" width="100px"></a>
  </div>
  <div class="column">
      <a class="greyed" href="https://datascience.stanford.edu/" target="_blank"><img src="/images/stanforddatascience.jpg" alt="Stanford Data Science Institute logo" border="0" width="100px"></a>
  </div>
  <div class="column">
      <a class="greyed" href="https://woods.stanford.edu/" target="_blank"><img src="/images/stanfordwoods.jpg" alt="Stanford Woods Institute for the Environment logo" border="0" width="100px"></a>
  </div>
  <div class="column">
      <a class="greyed" href="https://www.ups.com/" target="_blank"><img src="/images/ups.jpg" alt="UPS logo" border="0" width="100px"></a>
    </li>
  </div>
  <div class="column">
      <a class="greyed" href="https://aws.amazon.com/" target="_blank"><img src="/images/aws.jpg" alt="Amazon AWS logo" border="0" width="100px"></a>
  </div>
  <div class="column">
      <a class="greyed" href="https://www.shell.com/" target="_blank"><img src="/images/shell.jpg" alt="Shell logo" border="0" width="100px"></a>
  </div>
  

</div>
</body>