---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

<body>

<figure>
  <img src="/images/map.png" alt="Maps showing forest dryness in western USA" style="width:100%">
  <figcaption>Predicted vegetation wetness over western US using remote sensing and deep learning.</figcaption>
</figure>

<!-- {% include image.html url="/images/map.png" alt="Predicted vegetation wetness over western US using remote sensing and deep learning." %}
_Predicted vegetation wetness over western US using remote sensing and deep learning._ -->
{% if author.googlescholar %}
  You can also find my articles on <u><a href="{{author.googlescholar}}">my Google Scholar profile</a>.</u>
{% endif %}

{% include base_path %}

{% for post in site.publications reversed %}
  {% include archive-single.html %}
{% endfor %}

<h2>Research graciously funded by</h2>

<div class="row">
  <div class="column">
    <a href="https://www.nasa.gov/" target="_blank"><img src="/images/nasa.jpg" alt="NASA logo" border="0" width="100px"></a>
  </div>
  <div class="column">
      <a href="https://earth.stanford.edu/" target="_blank"><img src="/images/se3.jpg" alt="Stanford School or Earth logo" border="0" width="100px"></a>
  </div>
  <div class="column">
      <a href="https://woods.stanford.edu/" target="_blank"><img src="/images/stanfordwoods.jpg" alt="Stanford Woods Institute for the Environment logo" border="0" width="100px"></a>
  </div>
  <div class="column">
      <a href="https://www.ups.com/" target="_blank"><img src="/images/ups.jpg" alt="UPS logo" border="0" width="100px"></a>
    </li>
  </div>
  <div class="column">
      <a href="https://aws.amazon.com/" target="_blank"><img src="/images/aws.jpg" alt="Amazon AWS logo" border="0" width="100px"></a>
  </div>
  

</div>

</body>
