{% include base_path %}

<meta charset="utf-8">

{% include seo.html %}

<link href="{% if site.atom_feed.path %}{{ site.atom_feed.path }}{% else %}{{ base_path }}/feed.xml{% endif %}" type="application/atom+xml" rel="alternate" title="{{ site.title }} Feed">

<!-- http://t.co/dKP3o1e -->
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<script>
  document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/g, '') + ' js ';
</script>

<!-- For all browsers -->
<link rel="stylesheet" href="{{ base_path }}/assets/css/main.css">

<meta http-equiv="cleartype" content="on">


<!------------------------------------->

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <meta name="author" content="Aram Zucker-Scharff" />

  <meta property="og:title" content="{% if page.title %}{{ page.title | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.title }}{% endif %}">
  <meta property="og:site_name" content="{{ site.title }}" />
  <meta property="og:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" />
  <meta property="og:locale" content="en_US" />
  <meta name="twitter:site" content="@chronotope" />
  <meta name="twitter:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}" />

  {% if page.title %}
  	<!-- Article specific OG data -->
  	<meta property="og:type" content="article" />
  	<meta property="article:published_time" content="{{page.date}}" />
  	{% if page.modified %}
  		<meta property="article:modified_time" content="{{page.modified}}" />
  	{% endif %}
  	<meta property="article:author" content="http://facebook.com/aramzs" />
    <meta property="article:publisher" content="https://www.facebook.com/aramzs" />
  	<meta property="article:section" content="{{page.vertical}}" />
  	{% for tag in page.categories %}
  		<meta property="article:tag" content="{{tag}}" />
  	{% endfor %}
	<meta name="keywords" content="{{page.categories | join: ', '}}" />

  	<meta name="twitter:card" content="summary_large_image" />
  	<meta name="twitter:creator" content="@chronotope" />
  	<meta name="twitter:title" content="{{page.title}}" />
	{% if page.ogimagenull %}
		<!-- no og image -->
	{% elsif page.ogimage %}
		<meta property="og:image" content="{{page.ogimage}}" />
	  	<meta name="twitter:image" content="{{page.ogimage}}" />
	  	<meta property="og:image:width" content="600" />
	  	<meta property="og:image:height" content="315" />
	{% elsif page.image %}
	  	<meta property="og:image" content="{{page.image}}" />
	  	<meta name="twitter:image" content="{{page.image}}" />
  	{% else %}
  		<meta property="og:image" content="https://41.media.tumblr.com/709bb3c371b9924add351bfe3386e946/tumblr_nxdq8uFdx81qzocgko1_1280.jpg" />
  		<meta name="twitter:image" content="https://41.media.tumblr.com/709bb3c371b9924add351bfe3386e946/tumblr_nxdq8uFdx81qzocgko1_1280.jpg" />
  	{% endif %}
	
