div.sponsors {
  padding: 3% 2%;
  display: block;
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  box-sizing: border-box;
}
div.sponsors ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-align: center;
  display: block;
}
div.sponsors ul li {
  margin: 0;
  padding: 0;
  display: inline-block;
  position: relative;
  width: 33.33%;
  overflow: hidden;
  text-align: center;
}
div.sponsors ul li a {
  width: 100%;
  height: 60px;
  overflow: hidden;
  display: inline-block;
}

div.sponsors ul li a img {
    transition: filter .1s ease-in-out;
    -webkit-filter: grayscale(0%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
    filter: grayscale(100%); /* FF 35+ */ 
    top:0;
    position:relative;
    height: 60px;
    width: 60px;
    }


div.sponsors ul li a:hover img {
  -webkit-filter: grayscale(100%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
  filter: grayscale(0%); /* FF 35+ */
  }
